
<header class="header-main">
    <div class="header-main-logo">
        <img src="../../assets/images/Main logo text.png" alt="Pink Monkey logo">
        <nav class="header-main-nav">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Products</a></li>
                <li><a href="#">Contacts</a></li>
                <li><a href="#">Blog</a></li>
            </ul>
        </nav>
    </div>

    <div class="header-main-icons">
        <div class="header-main-icon header-main-icon-search"></div>
        <div class="header-main-icon header-main-icon-shopping"></div>
        <div class="header-main-icon header-main-icon-favorite"></div>
        <div class="header-main-icon header-main-icon-user"></div>
    </div>

    <button (click)="toggleMenu()">
        asdasdasd
    </button>
</header>
