@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap');

body {
    overflow-x: hidden !important;
    background-size: contain;
    background-position: 0% 0%;
    background-repeat: no-repeat;
    background-size: cover;
}

.mobile-menu-btn {
    display: none;
}

.header-main {
    max-width: 1440px;
    width: 100%;
    padding: 24px 0;
    box-sizing: border-box;
    top: 0;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 52px;
    margin: auto;
    z-index: 99;
    position: relative;
    padding-top: 32px;
}

.header-main-logo {
    z-index: 9;
}

.header-main-logo a img {
    align-self: center;
    height: 40px;
}


.header-main-nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    left: 0;
}


.header-main-nav-mobile {
    display: none;
}
.header-main-nav ul li {
    display: inline;
    float: left;
}

.header-main-nav ul li a {
    padding: 0 20px;
    font-family: "Irish Grover", system-ui;
    font-size: larger;
    line-height: 75px;
    text-decoration: none;
    color: black;
    display: block;
    height: 100%;
}

.header-main-nav ul li a:hover {
    color: #F99DBC;
    border-bottom: 2px solid #F99DBC;
    transition: color 0.3s;
}



.header-main-icons {
    width: fit-content;
    height: 100%;
    display: flex;
    align-items: center;
    column-gap: 30px;
    cursor: pointer;
}

.header-main-icon {
    width: 24px;
    height: 24px;
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
}


.header-main-icon-shopping {
    background-image: url(../../assets/images/shop.svg);
}

.header-main-icon-favorite {
    background-image: url(../../assets/images/8666647_heart_icon.svg);
}

/* .header-main-icon-user {
    background-image: url(../../assets/images/8666609_user_icon.svg);
} */

.cartlistcounter {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    position: absolute;
    background: #F99DBC;
    display: flex;
    justify-content: center;
    margin-left: 12px;
    margin-bottom: 42px;
    border-radius: 50%;
    margin-top: -14px;
    font-size: 12px;
}

/*------------ mobile menu ------------ */
.burger-menu {
    display: none;
    z-index: 9;
}

.hamburger {
    cursor: pointer;
    position: relative;

}

.hamburger input {
    display: none;
}

.hamburger svg {
    /* The size of the SVG defines the overall size */
    height: 3em;
    z-index: 99;
    /* Define the transition for transforming the SVG */
    transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
    fill: none;
    stroke: #0f0f0f;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 2;
    /* Define the transition for transforming the Stroke */
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
        stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
    stroke-dasharray: 12 63;
}

.hamburger input:checked+svg {
    transform: rotate(-45deg);
}

.hamburger input:checked+svg .line-top-bottom {
    stroke-dasharray: 20 300;
    stroke-dashoffset: -32.42;
}

.header-main-nav-mobile ul li:last-child div {
    cursor: pointer;
    margin-top: 8px;
}

.header-main-nav-mobile ul li:nth-child(4) div {
    cursor: pointer;
 
}

.active {
    color: #F99DBC !important;
    border-bottom: 2px solid #F99DBC;
}


/* ------  media screen -----  */

@media screen and (max-width: 1040px) {

    .header-main {
        padding: 0 30px;
    }

    .header-main-nav ul li a {
        font-family: "Irish Grover", system-ui;
        font-size: medium;
        line-height: 75px;
        text-decoration: none;
        color: black;
        display: block;

    }

    .header-main {

        justify-content: space-between;
        padding: 20px;
    }

    .header-main-nav {
        display: none;
    }

    .header-main-nav-mobile {
        display: block;
        position: absolute;
        backdrop-filter: blur(30px);
        right: 0;
        left: 0;
        top: -150vh;
        width: 100%;
        transition: 0.7s ease;
        z-index: 8;
        padding: 12px;
        padding-top: 100px;
    }

    .openNav {
      top: 0 !important;
    }

    .header-main-nav-mobile ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        gap: 12px;

    }

    .header-main-nav-mobile ul li {
        width: 100%;
    }

    .header-main-nav-mobile ul li a {
        line-height: 3;
        text-align: center;
        width: 100%;
        border: none;
        color: black;
        text-decoration: none;
        font-family: "Irish Grover", system-ui;
    }

    .header-main-nav-mobile ul li a:hover {
        color: #F99DBC;
        border-bottom: none;
        transition: color 0.3s;
    }

    .burger-menu {
        display: block;
    }

    .header-main-icons {
        display: none;
    }

    .header-main-logo {
        transform: scale(0.9);
    }
}



@media screen and (max-width: 768px) {

    .header-main-icons {
        position: absolute;
        height: 50px;
        max-width: 300px;
        width: 100%;
        justify-content: end;
        top: 80px;
        column-gap: 16px;
    }
}
