<div class="main-div">
    <div>
        <h1> Our Products</h1>
        <p>Products</p>
        <p>Details</p>
        <p>Box Sizing</p>
    </div>
    <div>
        <h1> Information</h1>
        <p>About Us</p>
        <p>Shopping Details</p>
        <p>Privacy Policy</p>
        <p> Cookie Policy</p>
    </div>
    <div class="follow-box">
        <h1>Follow Us To</h1>
        <a href="https://www.instagram.com/pinkmonkey_chocolates?igsh=ajVvOHdyeGM5b2Jw" target="_blank">Instagram</a>
        <a href="https://www.facebook.com/pinkmonkeychocolates" target="_blank">Facebook</a>
        <a href="https://www.tiktok.com/@pinkmonkeychocolate?_t=8nGvrMJ65Ok&_r=1" target="_blank">Tik-Tok</a> 
    </div>
    <div>
        <h1>Have A Questions?</h1>
        <p>Ask Questions</p>
        <p>Contact Us</p>
    </div>
</div>