<div class="main-div">
    <div>
        <h1> Our Products</h1>
        <p>Products</p>
        <p>Details</p>
        <p>Box Sizing</p>
    </div>
    <div>
        <h1> Information</h1>
        <p>About Us</p>
        <p>Shopping Details</p>
        <p>Privacy Polici</p>
        <p> Cookie Polici</p>
    </div>
    <div>
        <h1>Follow Us To</h1>
        <p>Instagram</p>
        <p>Facebook</p>
        <p>Tik-Tok</p>
        
    </div>
    <div>
        <h1> Have A Questions?</h1>
        <p>Ask Questions</p>
        <p> Contact Us</p>
    </div>
</div>