<div class="body">
    <div class="about-box">
        <div class="about-box-div">
            <h1>About Us</h1>
            <p> Pinc Monkey is sweet story, about two genetation of chocolates.t
                the heart of the company is a family of candy makers who work alongside a talented staff of artisan
                chocolatiers with over 100 years of combined confectionery experience.</p>
            <img src="../../assets/images/pink-vector.svg" alt="">
        </div>
        <div class="family-img">
            <img src="../../assets/images/Hand Drawn Elements PNG Image, Hand Drawn Fresh Minimalist Family Elements, Family, Children, Parent PNG Image For Free Download.jpg"
                alt="">
        </div>
    </div>
    <div class="about-box2">
        <div class="natia-dato">
            <img src="../../assets/images/Ellipse 1.png" alt="">
        </div>
        <div class="abotbox-bott">
            <img class="pinc-vector2" src="../../assets/images/pink-vector.svg" alt="">
            <p> Today, Chocolate Chocolate Chocolate Company is an award-winning 2nd generation chocolate company.
                Co-founders Dan and Rosalie are joined by their three children, Christina, Dan Jr., and Christopher. A</p>
            <!-- <img src="../../assets/images/Ellipse 2.png" alt=""> -->
        </div>
    </div>

</div>