
.favorite-list {
    margin-left: 80px;
    margin-top: 40px;

}

.cart-container {
    margin: 40px 80px;
}


@media screen  and (max-width: 830px){
   
    .favorite-list{
        margin-left: 0;
        display: flex;
        justify-content: center;
    
    }
}