.favorite-list {
    margin-left: 80px;
    margin-top: 40px;

}

.cart-container {
    margin: 40px 80px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    padding: 0 30px;
    padding-bottom: 24px;
    justify-items: center;
    align-items: center;
}

.remove-button {
    width: 264px;
    height: 32px;
    border-style: none;
    background-color: #FF8C00;
    color: white;
    border-radius: 30px;
    font-size: 16px;
    margin: 0 14px;
}



@media screen and (max-width: 830px) {

    .favorite-list {
        margin-left: 0;
        display: flex;
        justify-content: center;

    }
}