<div class="favorite-list">
    <h2>Your Favorite Products List</h2>
</div>

<div class="cart-container">
    <div *ngIf="productService.favoriteList.length === 0">Your favorite list is empty</div> 

<div *ngFor="let favPorduct of favProductsList">
    <app-product [payload]="favPorduct" [currency]="currency"></app-product>

    <div class="fav-remove-button" >
        <button class="remove-button" (click)="removeFavorite(favPorduct.id)">Remove from Favorites</button>
    </div>
    
    <div>
</div>
</div>



