.card-section {
    display: grid;
    gap: 24px;
    padding: 40px 0;

}

.card-section-img {
    border-radius: 20px 20px 0px 0px;
}

.card-section-img img {
    width: 300px;
    height: 280px;
    border-radius: 20px 20px 0px 0px;
}

.card-section-text {
    width: 300px;
    height: 160px;
    border-radius: 0px 0px 20px 20px;
    background: #f7c0d2;
    padding: 0 20px;

}

.card-section-text h1 {
    font-family: "Irish Grover";
    font-size: 28px;
    padding-bottom: 4px;

}

.card-section:hover {
    transform: scale(1.1);
    transition: 1s;
}

.price-part {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: 15px;
}

.price-part h2 {
    font-size: 20px;
}

.price-line-through {
    text-decoration: line-through;
    opacity: 30%;
}

.stars-btn-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center
}

.add-cart {
    background-color: #FF8C00;
    color: white;
    border: none;
    border-radius: 30px;
    font-size: 16px;
}