<div class="details-main-box"> 
    <div class="productImg" >
        <img src="{{productItem.image}}" alt="">
    </div>

    <div class="aboutProduct">
        <h1>{{productItem.title}}</h1>
            <div class="cartStyle-textBox-price" >
                <p [ngClass]="productItem.sale > 0 ? 'price-line-through' : ''">  {{currency}} {{ productItem.price.toFixed(2) }} </p>
                <p *ngIf="productItem.sale > 0">{{currency}}{{productService.saledPrice(productItem.price, productItem.sale)}}</p>
            </div>

            <div class="description-text">
               <p>{{productItem.description}} </p> 
            </div>

            <div class="addToCartButton">
                <button (click)="addToCart(productItem)">Add To Cart</button>
            </div>
    </div>

</div>
